@font-face {
  font-family: "Primary Font";
  src: url(./assets/fonts/CoreRhino55Medium.otf) format("truetype");
}
@font-face {
  font-family: "Rossanova";
  src: url(./assets/fonts/Rossanova-Bold.otf) format("opentype");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: auto !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
